*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  letter-spacing: .25rem;
}

html {
  //defines what one rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0px;
}
