@import '../abstracts/variables';

.small-margin {
  margin-bottom: $small-space;
}

.vertical-space-between {
  margin: $typical-margin;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 10rem;
}