//FONTS
$nunito-bold: 'nunito-bold';
$nunito-bold-bold: 'nunito-bold-bold';

//SPACES
$very-small-space: 1rem;
$small-space: 3rem;
$medium-space: 6rem;
$big-space: 9rem;
$typical-margin: 1.5rem;

//SHADOWS
$normal-shadow: 0 0.4rem 1rem rgba(black, 0.5);
$button-shadow-link: 0 0.4rem 1rem rgba(black, 0.6);
$button-shadow-hover: 0 1rem 2rem rgba(black, 0.6);
$button-shadow-active: 0 0.5rem 1rem rgba(black, 0.6);

//shadow for button when background is white
$shadow-link-light: 0 0.2rem 0.5rem rgba(black, 0.3);
$shadow-hover-light: 0 0.4rem 1rem rgba(black, 0.3);
$shadow-active-light: 0 0.3rem 0.7rem rgba(black, 0.3);


//COLORS
//yellow color for buttons
$yellow-dark: #FCC020;
$blue-light: #45BBC6;
$text-grey-light: #cac8c8;
$dark-grey: #878787;
$very-light-grey-bcg: #f0f2f5;

//FONT SIZES
$font-size-button: 1.8rem;

