@import '../abstracts/variables';

.reg-button {
    font-family: $nunito-extra-bold !important;
}

#user {
    color: $error;
    font-family: $nunito-extra-bold;
    text-transform: uppercase;
}

#msg {
    color: green;
    font-family: $nunito-extra-bold;
    text-transform: uppercase;
}
