@import '../abstracts/variables';

.button {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size-button;
    // box-shadow: $button-shadow-active;
    box-shadow: $button-shadow-link;
    // box-shadow: 2px;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $button-shadow-hover;
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: $button-shadow-active;
  }
}

.button-submit {
    box-shadow: $shadow-link-light;
    text-transform: uppercase;
    padding: $very-small-space;
    border-radius: 10px;
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: $shadow-hover-light;
    }
    &:active {
      transform: translateY(-0.2rem);
      box-shadow: $shadow-active-light;
    }

    &:disabled {
      background-color: $text-grey-light;
      box-shadow: none;

      &:hover {
        transform: none;
        box-shadow: none;
      }

      &:active {
        transform: none;
        box-shadow: none;
      }
    }
    border: none;
    color: white;
  }


  .button-accept {
      background-color: $yellow-dark;
      width: 100%;
      font-size: $font-size-button;
      font-family: $nunito-bold-bold;
  }

  .button-reg {
      background-color: $blue-light;
      font-family: $nunito-bold-bold;
      font-size: $font-size-button;
      margin: $typical-margin;
  }

  .orange {
    background-color: $yellow-dark;
  }