@import './abstracts/variables';

.lan-progress-container {
  font-family: $nunito-bold-bold;
  background-color: white;
  width: 80%;
  border-radius: 10px 10px 10px 10px;
  margin: 5% 10% 5% 10%;
  padding: 0rem 2rem 0rem 2rem;
  box-shadow: $light-active;

  &__title {
    letter-spacing: 4px;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    font-family: $nunito-extra-bold;
    color: #646464fa;
  }

  &__row {
    background-color: white;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;

    &--col {
      width: 1/3%;
    }
  }
}
