@import './abstracts/variables';

.popup {
  height: 100vh;
  width: 100%;
  //so it does not move as we scroll
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 9999;

  &__content-reg {
    @include absCenter;
    width: 35%;
    height: 53rem;
    background-color: $very-light-grey-bcg;
    box-shadow: 0 2rem 4rem rgba(black, 0.8);
    border-radius: 5px;
    padding: 2rem;
    text-align: center;

    @include respond(phone){
      width: 90%;
      height: 90%;
    }

    @include respond(tab-port){
      width: 70%;
      height: 80%;
    }

    &--close {
      color: grey;
      text-decoration: none;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
    }

    &--logo {
      width: 25%;
      height: auto;
    }

    &--input {
      margin: $small-space 1rem $small-space 1rem;
    }
  }
}

#popup-closure {
  cursor: pointer;
}

.close {
  visibility: hidden;
  display: none;
}

#info{
  font-size: 2rem;
  font-family: $nunito-extra-bold;
}

.confirm-delete {
  height: 50%;

  &__text {
    font-size: 3rem;
    margin: 5rem 0rem 3rem 0rem;
    line-height: 3.5rem;
    @include respond(tab-land) {
      font-size: 2rem;
      line-height: 2.2rem;
      margin: 4rem 0rem 2rem 0rem;
    }
  }

  &__button {
    background-color: $blue-light;
    text-transform: uppercase;
    font-family: $nunito-extra-bold;
    padding: 1.5rem;
    font-size: 2rem;
    width: 70%;
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }
}

.hide {
  display: none;
}
