@import '../abstracts/variables';

.reminder-container {
  font-size: 3rem;
  @include respond(phone) {
    font-size: 1.5rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh;
  text-align: center;

  &--button {
    border-radius: 10px;
    font-family: $nunito-extra-bold;
    letter-spacing: 0.7rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: $blue-light;
  }

  &--emoji {
    font-size: 8rem;
  }

  &--title {
    font-size: 7rem;
  }

  &--content {
    font-family: $nunito-extra-bold;
    font-size: 3.5rem;
    @include respond(phone) {
      font-size: 2rem;
    }
    margin: 3rem 0rem 3rem 0rem;
    line-height: 4rem;
  }

  &--greets {
    font-family: $nunito-extra-bold;
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }
}

.reminder-finished {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 0rem 5rem 0rem;

  &--emoji {
    padding: 6rem;
    font-weight: bold;
    font-size: 20rem;
    cursor: default;
  }

  &--text {
    font-size: 5rem;
    @include respond(phone) {
      font-size: 3rem;
    }
    margin: 10px;
    font-family: $nunito-extra-bold;
    text-transform: uppercase;
    padding: 4rem;
    cursor: default;
  }

  &--button {
    font-size: 3rem !important;
    padding: 1rem;
    margin: 5rem 0rem 0rem 0rem;
    text-transform: uppercase;
    font-family: $nunito-extra-bold;
    border-radius: 1rem;
    border: none;
    color: white;
    letter-spacing: 0.6rem;
    background-color: #66da81 !important;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

#learn {
  padding: 3rem 0rem 5rem 0rem;
  font-size: 25rem;
  color: $font-dark;
  font-weight: bold;
  cursor: default;
}

#explication {
  font-size: 1.8rem;
  color: $font-light;
  margin-top: 2rem;
  cursor: pointer;
}
