@import '../abstracts/variables';

.word {
  min-height: 17vh;
  min-width: 30rem;
  background-color: white;
  width: 90%;
  @include absCenter;
  border-radius: 10px;
  box-shadow: $shadow-link-light;
  text-align: center;
  position: relative;
  margin: 2rem 0rem 0rem 0rem;
  padding: 1rem 0rem 0rem 0rem;

  &__keyboard {
    margin: 0rem 1rem 0rem 0rem;
    &--button {
      background-color: white;
      border: 0.2rem solid $very-light-grey-bcg;
      border-radius: 10px;
      margin: 0rem 0rem 0rem 0.2rem;
      padding: 0.5rem;
      cursor: pointer;
      float: right;
    }
  }

  &__input {
    padding: 3rem 3rem 0 3rem;
    &--container {
      float: left;
      width: 47.5%;

      &:not(:last-child) {
        margin-right: 5% !important;
      }
    }
    &--input {
      width: 100%;
      border: none;
      border-bottom: 3px solid $very-light-grey-bcg;
      padding: 3px;

      &::placeholder {
        color: $text-grey-light;
        font-family: $nunito-bold-bold;
        text-transform: uppercase;
      }
    }
  }
}

#emptyInfo {
  color: red;
  padding: 0rem 0rem 0rem 10rem;
}